@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
   background-color: rgb(236, 236, 236);
}

header{
    background: linear-gradient(to right, #fa7ea1, #b2303d);
     width:960px;
    padding: 20px;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

main{
    background: linear-gradient(to right, #fa7ea1, #b2303d);
    width:960px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0px auto;
}

h1{
    font-family: "Bungee", sans-serif;
    text-align:center;
    font-weight: 100;
    font-style: italic;
}

h2{
    font-family: "Bungee", sans-serif;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

h3{
    font-family: "Bungee", sans-serif;
    text-align: center;
    font-weight: 100;
    font-style: italic; 
}

h4{
    font-family: "Bungee", sans-serif;
    text-align: left;
    font-weight: 100;
    font-style: italic; 
}

h5{
    font-family: "Bungee", sans-serif;
    text-align: left;
    font-weight: 100;
    font-style: italic; 
}

h6{
    font-family: "Bungee", sans-serif;
    text-align: left;
    font-weight: 100;
    font-style: italic; 
}

a:hover{
    color: aliceblue;
}

a{
    color: black;
}

nav{
    width: 400px;
    margin: auto;
    border-bottom: black 1px solid;
}

nav ul{

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;

}

nav ul li a{
    text-decoration: none;
    font-family: "Bungee", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: black;
}

nav ul li a:hover{
}